* {
    box-sizing: border-box;
}

body:not(#datepicker) {
    margin: 0;
    padding: 10px 20px 0;
    background-color: rgb(233, 240, 232);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

table:not(#datepicker) {
    width: auto;
    border: black 1px solid;
    border-radius: 10px;
    border-collapse: collapse;
}

td:not(#datepicker) {
    position: relative;
    border: black 1px solid;
    height: 80px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}