* {
    box-sizing: border-box;
}

#reservation-form input {
    font-size: 18px;
}

#reservation-form label {
    font-size: 18px;
}

body:not(#datepicker) {
    margin: 0;
    padding: 10px 20px 0;
    background-color: rgb(233, 240, 232);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#belegungsplan-table {
    width: 90vw;
    border: black 1px solid;
    border-radius: 10px;
    border-collapse: collapse;
}

#belegungsplan-table td {
    position: relative;
    border: black 1px solid;
    height: 80px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}