* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px 20px 0;
    background-color: #003e29;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

label,
h1,
h2,
h3,
h4,
p,
strong,
.week-table1 thead th,
.week-table2 thead th {
    color: #fff;
}

.week-table1 td,
.week-table2 td,
tbody th,
tbody strong {
    color: #000;
}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 95vw;
}

#link-belegungsplan {
    font-size: 18px;
    color: #fff;
}

#link-belegungsplan:hover {
    color: #9a9797;
}

.legende {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.next-meetings {
    width: 50%;
}

.n-meetings-t {
    width: 100%;
}

.n-meetings-t th {
    background-color: #045c05;
    color: #fff;
}

.n-meetings-t td {
    border-color: #fff;
    color: #000;
    background-color: #fff;
}

#b-week-c {
    font-size: 18px;
    justify-content: space-evenly;
    padding: 10px;

}

.week-number {
    font-size: 18px;
    font-weight: bold;
}

#w-n-1 {
    width: 55%;
}

#w-n-2 {
    width: 45%;
}

.tables-container {
    display: grid;
    grid-template-columns: 47vw 1vw 47vw;
    grid-template-rows: auto;
    grid-template-areas:
        "n1 . n2"
        "wt1 . wt2";
    width: 95vw;
    height: auto;
}

#w-n-1 {
    grid-area: n1;
}

#w-n-2 {
    grid-area: n2;
}

.week-table1 {
    flex-grow: 1;
    grid-area: wt1;
}

.week-table2 {
    flex-grow: 1;
    grid-area: wt2;
}

#current-week-table {
    border: 3px solid green;
}

.tables-container table {
    width: auto;
    border: black 1px solid;
    border-radius: 10px;
    border-collapse: collapse;
    background-color: #fff;
}

.tables-container table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

#m-pc-row {
    display: none;
}

.week-table1 thead th,
.week-table2 thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #045c05;
}

.week-table1 thead,
.week-table2 thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(233, 240, 232);
}

.week-table1 tbody tr th,
.week-table2 tbody tr th {
    border: 1px solid #000;
    padding: 8px;
}

.week-table1 tbody tr:hover,
.week-table2 tbody tr:hover {
    background-color: #8a9f98 !important;
}

.n_holiday {
    background-color: grey;
}

.south-holiday-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #000;
    /* Customize the text color as needed */
    padding: 3px;
    border-radius: 3px;
}

.bx-info-circle {
    position: absolute;
    top: 0;
    right: 0;
}

td {
    position: relative;
    border: black 1px solid;
    height: 80px;
    width: 80px;
}

#t-a-field {
    font-size: 13px;
}

footer table {
    margin-top: 200px;
    width: 100vw;
    color: #fff;
    border: 0;
}

footer tr {
    width: 100vw;
    border: 0;
}

footer td {
    width: 100vw;
    border: 0;
}

/* Admin-Bereich */
#assign-frame {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
}

#assing-frame select {
    font-size: 16px;
}

.assign-m {
    padding-bottom: 75px;
}

#assignForm {
    display: grid;
    max-width: 150px;
}

#assignForm label {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    padding-top: 20px;
}

#assignForm input:not(#none, #schule, #abwesend, #urlaub, #gleitzeit) {
    max-width: 100%;
    font-family: "Roboto";
    font-size: 16px;
    color: #000;
    text-align: center;
}

.special {
    display: flex;
    max-width: 250px;
}

#assignForm button {
    font-family: "Roboto";
    font-size: 20px;
    width: 400px;
    max-width: 100%;
    border: 0;
    color: #000;
    background-color: #fee46d;
    text-align: center;
}

#assignForm button:hover {
    background-color: #85773a;
}

textarea {
    font-size: 16px;
}

.chosen-container span {
    font-size: 16px;
}


.group-create {
    padding-bottom: 75px;
}

#group-form {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 150px;
}

#group-form label {
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 400;
    padding-top: 20px;
}

#group-form input {
    width: 400px;
    max-width: 400px;
    font-family: "Roboto";
    font-size: 16px;
    color: #000;
    text-align: left;
}

#group-form button {
    font-family: "Roboto";
    font-size: 20px;
    max-width: 100%;
    border: 0;
    color: #000;
    background-color: #fee46d;
    text-align: center;
}

#group-form button:hover {
    background-color: #85773a;
}

.add-data {
    padding-bottom: 50px;
}

.add-data input,
.add-data select,
.add-data button,
.delete-data select,
.delete-data button {
    font-size: 16px;
}