* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px 20px 0;
    background-color: rgb(233, 240, 232);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.tables-container {
    display: flex;
}

table {
    width: 90%;
    border: black 1px solid;
    border-radius: 10px;
}

td {
    border: black 1px solid;
}

footer {
    margin-top: 200px;
}