* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px 20px 0;
    background-color: rgb(233, 240, 232);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.top-container {
    display: flex;
}

.tables-container {
    display: flex;
    width: auto;
    height: auto;
}

#current-week-table {
    border: 2px solid green;
}

.tables-container table {
    width: auto;
    border: black 1px solid;
    border-radius: 10px;
}

.tables-container table tbody tr:nth-child(odd) {
    background-color: #fff;
}

#m-pc-row {
    display: none;
}


.week-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(233, 240, 232);
}

.n_holiday {
    background-color: grey;
}

.south-holiday-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #000; /* Customize the text color as needed */
    padding: 3px;
    border-radius: 3px;
}

.bx-info-circle {
    position: absolute;
    top: 0;
    right: 0;
}

td {
    position: relative;
    border: black 1px solid;
    height: 80px;
    width: 80px;
}

#t-a-field {
    font-size: 12px;
}

footer {
    margin-top: 200px;
    width: 100vw;
}

/* Admin-Bereich */
#assign-frame {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.assign-m {
    padding-bottom: 150px;
}

#assignForm {
    display: grid;
}

#assignForm label {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    padding-top: 20px;
}

#assignForm input {
    width: 400px;
    max-width: 100%;
    height: 50px;
    border-radius: 20px;
    font-family: "Roboto";
    font-size: 16px;
    color: #000;
    text-align: center;
    border: 0;
}

#assignForm button {
    font-family: "Roboto";
    font-size: 20px;
    border-radius: 20px;
    width: 400px;
    max-width: 100%;
    border: 0;
    color: #000;
    text-align: center;
}




.group-create {
    padding-bottom: 150px;
}

#group-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 500px;
}

#group-form label {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    padding-top: 20px;
}

#group-form input {
    width: 400px;
    max-width: 400px;
    border-radius: 20px;
    font-family: "Roboto";
    font-size: 16px;
    color: #000;
    text-align: center;
    border: 0;
}

#group-form button {
    font-family: "Roboto";
    font-size: 20px;
    border-radius: 20px;
    width: 400px;
    max-width: 100%;
    border: 0;
    color: #000;
    text-align: center;
}

.add-data {
    padding-bottom: 50px;
}