<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Belegungsplan - SLT</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'belegungsplan.css') }}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'fonts.css') }}" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Include jQuery UI with the datepicker widget -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  {% block title %}
    <body>
      <head>
        <h1>Belegungsplan</h1>
      </head>
      <main>
        <div class="top-container">
          <a href="/?user_role={{ user_role }}">Zurück</a>
          <div class="logo">
            <img src="https://www.slt-technologies.com/images/main_header_left-slt.jpg" alt="" />
          </div>
        </div>
        {% if user_role == 'admin' %}
          {% block assign_frame %}
            <h2>Belegung planen</h2>
            <form id="reservation-form" action="" method="POST">
              <label for="datepicker">Datum:</label>
              <input type="text" id="datepicker" name="datefilter-b" required />

              <label for="start-time">Von:</label>
              <input type="time" id="start-time" name="start_time" required />

              <label for="end-time">Bis:</label>
              <input type="time" id="end-time" name="end_time" required />

              <label for="room">Raum:</label>
              <input type="text" id="room" name="room" required />

              <label for="personal_nr_list">Teilnehmer:</label>
              <select name="personal_nr_list" id="personal_nr_list" class="chosen-select" data-placeholder="Mitarbeiter auswählen.." multiple>
                {% for user in users %}
                  <option value="{{ user[0] }}">{{ user[0] }}: {{ user[1] }}</option>
                {% endfor %}
              </select>
              <br />
              <label>Bewirtung:</label>
              <div>
                <input type="checkbox" id="service1" name="services" value="Broetchen" />
                <label for="service1">Brötchen</label>
              </div>
              <div>
                <input type="checkbox" id="service2" name="services" value="Kekse" />
                <label for="service2">Kekse</label>
              </div>
              <div>
                <input type="checkbox" id="service3" name="services" value="Kuchen" />
                <label for="service3">Kuchen</label>
              </div>
              <button class="submit">Meeting planen</button>
            </form>
          {% endblock %}
        {% endif %}

        {% block content %}
          <h2>Belegungsplan</h2>
          <table id="belegungsplan-table">
            <thead>
              <tr>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Raum</th>
                <th>Teilnehmer</th>
                <th>Bewirtung</th>
              </tr>
            </thead>
            <tbody id="belegungsplan-table-body">
              {% for meeting in meetings_data %}
                <tr>
                  <td>{{ meeting[1] }}</td>
                  <td>Von: {{ meeting[2] }} Bis: {{ meeting[3] }}</td>
                  <td>{{ meeting[4] }}</td>
                  <td>{{ meeting[6] }}</td>
                  <td>{{ meeting[5] }}</td>
                  {% if user_role == 'admin' %}
                    <td>
                      <button class="delete-btn" data-group-m="{{ meeting[0] }}">Löschen</button>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endblock %}
      </main>
      <footer></footer>

      <script src="{{ url_for('static', filename = 'belegungsplan.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    </body>
  {% endblock %}

  <!-- Jan Knijnenburg - SLT Technologies GmbH & Co. KG -->
</html>
