<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Einsatzplan - SLT</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
  </head>
  {% block title %}
    <body>
      <head>
        <p id="week-output"></p>
      </head>

      <main>
        <div class="top-container">
          <div id="login-frame">
            <form id="login-form" method="POST" action="{{ url_for('login') }}">
              {{ form.hidden_tag() }}
              {{ form.csrf_token }}
              <label for="username">Username:</label>
              {{ form.username }}
              <br /><br />
              <label for="password">Password:</label>
              {{ form.password }}
              <br /><br />
              <button type="submit" id="login-button">Login</button>
            </form>
          </div>
          <div class="logo">
            <img src="https://www.slt-technologies.com/images/main_header_left-slt.jpg" alt="" />
          </div>
        </div>

        {% block content %}
          <div id="main-frame">
            <h1>Einsatzplan</h1>
            <div class="legende">
              <p>vO = vor Ort</p>
              <p>iF = in der Firma</p>
              <p>ST. = Stundenzettel</p>
              <p>H = Hotel</p>
              <p>Farbig = Gruppe</p>
              <p>GRAU = Feiertag</p>
              <p>B = Feiertag in Bayern/Süden</p>
            </div>
            <button onclick="prevWeek()">Vorherige Woche</button>
            <button onclick="nextWeek()">Nächste Woche</button>
            <button onclick="resetWeek()">HEUTE</button>
            <div class="tables-container">
              <p class="week-number">KW {{ kw_1 }}</p>
              <table class="week-table" id="{% if kw_1 == current_week_number %}current-week-table{% endif %}">
                <thead>
                  <tr>
                    <th>P-Nr.</th>
                    <th>Name</th>
                    {% for date in week_dates1 %}
                      <th>{{ date }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% if data %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Elektriker</strong>
                      </td>
                      {% for day in week_days1 %}
                        <th colspan="1">{{ day }}</th>
                      {% endfor %}
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Elektriker' %}
                        <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          {% for date in week_dates1 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                    {% if user_role == "admin" %}
                                      <button class="delete-btn" data-assignment-id="{{ assignment[0] }}">Delete</button>
                                    {% endif %}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Schlosser</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Schlosser' %}
                        <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          {% for date in week_dates1 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Hauswart</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Hauswart' %}
                        <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          {% for date in week_dates1 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Büro</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Büro' %}
                        <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          {% for date in week_dates1 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Dreher & Fräser</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Dreher & Fräser' %}
                        <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          {% for date in week_dates1 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}                    
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Freie Mitarbeiter</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Freie Mitarbeiter' %}
                        <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                          {% for date in week_dates1 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="5">No data available</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
              <p class="week-number">KW {{ kw_2 }}</p>
              <table class="week-table" id="{% if kw_2 == current_week_number %}current-week-table{% endif %}">
                <thead>
                  <tr>
                    <th id="m-pc-row">P-Nr.</th>
                    <th id="m-pc-row">Name</th>
                    {% for date in week_dates2 %}
                      <th>{{ date }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% if data %}
                    <tr>
                      <td colspan="0" style="border: 0; display: none;">
                        <strong id="k-m">Elektriker</strong>
                      </td>
                      {% for day in week_days2 %}
                        <th colspan="1">{{ day }}</th>
                      {% endfor %}
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Elektriker' %}
                        <tr>
                          <td id="m-pc-row">{{ row[0] }}</td>
                          <td id="m-pc-row">{{ row[1] }}</td>
                          {% for date in week_dates2 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Schlosser</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Schlosser' %}
                        <tr>
                          <td id="m-pc-row">{{ row[0] }}</td>
                          <td id="m-pc-row">{{ row[1] }}</td>
                          {% for date in week_dates2 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Hauswart</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Hauswart' %}
                        <tr>
                          <td id="m-pc-row">{{ row[0] }}</td>
                          <td id="m-pc-row">{{ row[1] }}</td>
                          {% for date in week_dates2 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Büro</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Büro' %}
                        <tr>
                          <td id="m-pc-row">{{ row[0] }}</td>
                          <td id="m-pc-row">{{ row[1] }}</td>
                          {% for date in week_dates2 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Dreher & Fräser</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Dreher & Fräser' %}
                        <tr>
                          <td id="m-pc-row">{{ row[0] }}</td>
                          <td id="m-pc-row">{{ row[1] }}</td>
                          {% for date in week_dates2 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    
                    
                    <tr>
                      <td colspan="2" style="border:0;">
                        <strong id="k-m">Freie Mitarbeiter</strong>
                      </td>
                    </tr>
                    {% for row in data %}
                      {% if row[3] == 'Freie Mitarbeiter' %}
                        <tr>
                          <td id="m-pc-row">{{ row[0] }}</td>
                          <td id="m-pc-row">{{ row[1] }}</td>
                          {% for date in week_dates2 %}
                            <td class="assignment-cell {% if date in n_holidays %}n_holiday{% endif %}" id="t-a-field">
                              {% for assignment in assignment_table_data %}
                                {% set assignment_found = false %}
                                {% if row[0] == assignment[1] and assignment[4] <= date <= assignment[5] %}
                                  {% set assignment_found = true %}
                                  <div data-assignment-id="{{ assignment[0] }}" data-group-id="{{ assignment[11] }}" data-group-color="">
                                    {{ assignment[3] }}
                                    <br />
                                    {% for car in car_table_data %}
                                      {% if car[0] == assignment[2] %}
                                        {% if car[0] != 99 %}
                                          {{ car[1] }}
                                          <br />
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% if assignment[7] != 'no' and assignment[7] != 'null' %}
                                      {{ assignment[7] }}
                                    {% endif %}
                                    {% if assignment[8] != 'no' and assignment[8] != 'null' %}
                                      {{ assignment[8] }}
                                    {% endif %}
                                    {% if assignment[9] != 'no' and assignment[9] != 'null' %}
                                      {{ assignment[9] }}
                                    {% endif %}
                                    {{ assignment[10] }}
                                  </div>
                                {% endif %}
                              {% endfor %}
                              {% if date in s_holidays %}
                                <div class="south-holiday-indicator">B</div>
                              {% endif %}
                              {% if not assignment_found %}
                                <!-- Create an empty td when no assignment is found -->
                              {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="5">No data available</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <br />

            {% if user_role == 'admin' %}
              <div id="assign-frame">
                {% block assign_frame %}
                  <div class="assign-m">
                    <h3>Einzelne Mitarbeiter zuweisen</h3>
                    <form id="assignForm" action="" method="POST">
                      <label id="a">
                        Mitarbeiter:<select name="personal_nr" id="dd-m" required>
                          <option value="" disabled selected>Mitarbeiter</option>
                          {% for row in data %}
                            <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                          {% endfor %}
                        </select>
                      </label>
                      <label>Von-Bis-Datum:<input type="text" id="date-select" name="datefilter" value="" required /></label>
                      <label>
                        Projekt:<select name="project_id" id="dd-p" required>
                          <option value="" disabled selected>Projekt</option>
                          {% for row in project_table_data %}
                            <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                          {% endfor %}
                        </select>
                      </label>
                      <label>
                        Auto:<select name="car_id" id="dd-car">
                          <!-- Autos aus Datenbank auslesen -->
                          <option value="" disabled selected>Auto</option>
                          {% for row in car_table_data %}
                            {% if row[0] != 0 %}
                              <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </label>
                      <label>
                        Ort:<select name="ort" id="dd-l" required>
                          <option value="vO">Vor-Ort</option>
                          <option value="iF">In Firma</option>
                        </select>
                      </label>
                      <label>
                        Zusatz:<select name="extra1" id="dd-x">
                          <option value="" disabled selected>Weiteres..</option>
                          <option value="ST.">Stundenzettel</option>
                          <option value="H">Hotel</option>
                          <option value="T">Telefon</option>
                        </select>
                        <select name="extra2" id="dd-xx">
                          <option value="" disabled selected>Weiteres..</option>
                          <option value="ST.">Stundenzettel</option>
                          <option value="H">Hotel</option>
                          <option value="T">Telefon</option>
                        </select>
                        <select name="extra3" id="dd-xxx">
                          <option value="" disabled selected>Weiteres..</option>
                          <option value="ST.">Stundenzettel</option>
                          <option value="H">Hotel</option>
                          <option value="T">Telefon</option>
                        </select>
                      </label>
                      <label>Hinweis:<textarea name="hinweis" id="hinweis" cols="30" rows="5"></textarea></label>
                      <br />
                      <button class="confirm">Bestätigen</button>
                    </form>
                  </div>
                  <div class="group-create">
                    <h3>Gruppe erstellen & zuweisen</h3>
                    <p>Wähle mehrere Mitarbeiter aus, um eine Gruppe zu erstellen.</p>
                    <form id="group-form" action="" method="POST">
                      <select name="personal_nr_list" id="personal_nr_list" class="chosen-select" data-placeholder="Mitarbeiter auswählen.." multiple>
                        {% for row in data %}
                          <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                        {% endfor %}
                      </select>
                      <label>Von-Bis-Datum:<input type="text" id="date-select" name="datefilter-g" value="" required /></label>
                      <label>
                        Projekt:<select name="project_id" id="dd-p-g" required>
                          <option value="" disabled selected>Projekt</option>
                          {% for row in project_table_data %}
                            <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                          {% endfor %}
                        </select>
                      </label>
                      <label>
                        Auto:<select name="car_id" id="dd-car-g">
                          <!-- Autos aus Datenbank auslesen -->
                          <option value="" disabled selected>Auto</option>
                          {% for row in car_table_data %}
                            {% if row[0] != 0 %}
                              <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </label>
                      <label>
                        Ort:<select name="ort" id="dd-l-g" required>
                          <option value="vO">Vor-Ort</option>
                          <option value="iF">In Firma</option>
                        </select>
                      </label>
                      <label>
                        Zusatz:<select name="extra1" id="dd-x-g">
                          <option value="" disabled selected>Weiteres..</option>
                          <option value="ST.">Stundenzettel</option>
                          <option value="H">Hotel</option>
                          <option value="T">Telefon</option>
                        </select>

                        <select name="extra2" id="dd-xx-g">
                          <option value="" disabled selected>Weiteres..</option>
                          <option value="ST.">Stundenzettel</option>
                          <option value="H">Hotel</option>
                          <option value="T">Telefon</option>
                        </select>

                        <select name="extra3" id="dd-xxx-g">
                          <option value="" disabled selected>Weiteres..</option>
                          <option value="ST.">Stundenzettel</option>
                          <option value="H">Hotel</option>
                          <option value="T">Telefon</option>
                        </select>
                      </label>
                      <label>Hinweis:<textarea name="hinweis" id="hinweis" cols="30" rows="5"></textarea></label>
                      <br />
                      <button class="confirm">Bestätigen</button>
                    </form>
                  </div>

                  <div class="add-data">
                    <h3>Füge Daten zu der Datenbank hinzu.</h3>
                    <form action="/submit_m_add" method="POST">
                      <label>
                        Neuen Mitarbeiter:<br />
                        <input type="number" name="personal_nr" placeholder="Personal-Nr." />
                        <input type="text" name="vorname" placeholder="Vorname" />
                        <input type="text" name="nachname" placeholder="Nachname" />
                        <select name="bereich" id="">
                          <option value="" disabled selected>Bereich</option>
                          <option value="Schlosser">Schlosser</option>
                          <option value="Dreher & Fräser">Dreher & Fräser</option>
                          <option value="Elektriker">Elektriker</option>
                          <option value="Freie Mitarbeiter">Freie Mitarbeiter</option>
                          <option value="Büro">Büro</option>
                          <option value="Hauswart">Hauswart</option>
                        </select>
                      </label>
                      <button type="submit">Erstellen</button>
                    </form>
                    <br />
                    <label>Neuen Kunden:</label>
                    <form action="/submit_c_add" method="POST">
                      <input type="number" name="customer_id" placeholder="Kunden-Nr." />
                      <input type="text" name="customer_name" placeholder="Kunden-Name" />
                      <button type="submit">Erstellen</button>
                    </form>
                    <br />
                    <label>Neues Projekt:</label>
                    <br />
                    <form action="/submit_p_add" method="POST">
                      <input type="number" name="project_id" placeholder="Projekt-Nr." />
                      <input type="text" name="project_name" placeholder="Projekt-Name" />
                      <select name="customer_id" id="dd-c">
                        <option value="" disabled selected>Kunde</option>
                        {% for row in customer_table_data %}
                          <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                        {% endfor %}
                      </select>
                      <button type="submit">Erstellen</button>
                    </form>
                    <label>Neues Auto:</label>
                    <br />
                    <form action="/submit_car_add" method="POST">
                      <input type="text" name="car_id" placeholder="Kennzeichen.." />
                      <button type="submit">Erstellen</button>
                    </form>
                    <br />
                  </div>
                  <div class="delete-data">
                    <h3>Lösche Daten aus der Datenbank.</h3>

                    <h4>Mitarbeiter löschen:</h4>
                    <form action="/submit_m_delete" method="POST">
                      <select name="personal_nr" id="">
                        <option value="" disabled selected>Auto</option>
                        {% for row in data %}
                          <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                        {% endfor %}
                      </select>
                      <button type="submit">Löschen</button>
                    </form>

                    <br />
                    <h4>Kunden löschen:</h4>
                    <form action="/submit_c_delete" method="POST">
                      <select name="kunden-delete" id="">
                        <option value="" disabled selected>Kunde</option>
                        {% for row in customer_table_data %}
                          <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                        {% endfor %}
                      </select>
                      <button type="submit">Löschen</button>
                    </form>

                    <h4>Auto löschen:</h4>
                    <form action="/submit_car_delete" method="POST">
                      <select name="car-delete" id="">
                        <option value="" disabled selected>Auto</option>
                        {% for row in car_table_data %}
                          <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                        {% endfor %}
                      </select>
                      <button type="submit">Löschen</button>
                    </form>
                    <h4>Projekt löschen:</h4>
                    <form action="/submit_p_delete" method="POST">
                      <select name="project-delete" id="">
                        <option value="" disabled selected>Projekt</option>
                        {% for row in project_table_data %}
                          <option value="{{ row[0] }}">{{ row[0] }}: {{ row[1] }}</option>
                        {% endfor %}
                      </select>
                      <button type="submit">Löschen</button>
                    </form>
                  </div>
                {% endblock %}
              </div>
            {% endif %}
          </div>
        {% endblock %}
      </main>

      <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
      <script src="{{ url_for('static', filename = 'javascript.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          document.getElementById('login-form').addEventListener('submit', function (e) {
            e.preventDefault()
            var formData = new FormData(this)
            fetch('/login', {
              method: 'POST',
              body: formData
            })
              .then((response) => response.json())
              .then((data) => {
                console.log('Login Response:', data) // Log the response to the console
                if (data.status === 'success') {
                  console.log('User Role:', data.user_role) // Log the user role to the console
                  window.location.href = '/?user_role=' + (data.user_role || 'user')
                } else {
                  alert('Invalid username or password. Please try again.')
                }
              })
              .catch((error) => {
                console.error('Error:', error)
              })
          })
        })
        
        $(document).ready(function () {
          $('#date-range').daterangepicker({
            startDate: '2023-01-01',
            endDate: '2035-12-31',
            minDate: '2023-01-01',
            maxDate: '2035-12-31'
          })
        })
        
        function prevWeek() {
          window.location.href = '/?week_number1={{ week_number1 - 1 }}&week_number2={{ week_number2 - 1 }}&kw_1={{ kw_1 - 1}}&kw_2={{ kw_2 - 1}}'
        }
        
        function nextWeek() {
          window.location.href = '/?week_number1={{ week_number1 + 1 }}&week_number2={{ week_number2 + 1 }}&kw_1={{ kw_1 + 1}}&kw_2={{ kw_2 + 1}}'
        }
        
        function resetWeek() {
          window.location.href = '/'
        }
      </script>

      <script src="https://cdn.jsdelivr.net/npm/brython@3.9.1/brython.min.js"></script>
      <footer>
        <tr>
          <td style="background-color:#287429;" width="100%">
            <table cellspacing="0" cellpadding="0" border="0" width="800">
              <tbody>
                <tr>
                  <td width="100%" height="30" align="center" valign="center" style="font-size:10px;">
                    © 2023 SLT-Technologies GmbH &amp; Co. KG • Telefon +49 (421) 66 05 8-0 • Fax +49 (421) 66 05 8-40 • Email
                    <a href="mailto:info@slt-technologies.com">info@slt-technologies.com</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </footer>
    </body>
  {% endblock %}

  <!-- Jan Knijnenburg -->
</html>
